@model BeFit.Models.Exercise

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Name</h1>

<div>
    <h4>Instructional video:</h4>
    <video controls="controls" autoplay="autoplay">
        <source src="@Model.InstructionalVideoUrl" type="video/mp4" />
        Your browser does not support the video tag.
    </video>
</div>
<div>
    @if (User.IsInRole("SuperAdmin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a><p style="display: inline">| </p>
    }
    <a asp-action="Index">Back to List</a>
</div>
