@model IEnumerable<BeFit.Models.Exercise>

@{
    ViewData["Title"] = "Index";
}

<h1>Exercises:</h1>

@if (User.IsInRole("SuperAdmin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p> 
}
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (User.IsInRole("SuperAdmin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a><p style="display: inline"> |</p>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><p style="display: inline"> |</p>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
